.section-height {
    height: 50px;
    height: 25px;
    margin: 20px 0px 0px 0px;
}

.project-height {
    margin: 0 0 0 23px;
}

.containerdiv {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.custom {
    margin-right: 5px !important;
}


// .p-tooltip .p-tooltip-text {
//     background-color: aliceblue !important;
//     color: green !important;
//     font-size: large;
// }