@media only screen and(max-width:415px){
    .goal_dicr_custom{
        display: flex !important;
    }
    .diagnosis_group_custom{
        display: flex !important;
    }
}

.careplan_goal{
    margin-top: 3px !important;
    margin-right: 4px !important;
}