@media only screen and(max-width:415px){
    .Intervention_discr_custom{
        display: flex !important;
    }
    .diagnosis_group_custom_i{
        display: flex !important;

    }
}

.careplan_interventions{
    margin-top: 2px !important;
    margin-right: 3px !important;
}