@media only screen and(max-width:415px){
    .problem_discr_custom{
        display: flex !important;
    }
    .diagnosis_group_custom_p{
        display: flex !important;
    }
}

.careplan_problem{
    margin-top: 2px !important;
    margin-right: 3px !important;
}