<main role="main">
  <div class="d-flex mb-1">
    <div class="flex-grow-1">
      <strong class="mb-0">Care Plan Assets</strong>
      <p>Utilize this interface to update your care plan asset libraries.</p>
    </div>

  </div>
  <div>
    <div class="card shadow mb-2">

      <app-careplan-diagnosis [masterData]="diag"></app-careplan-diagnosis>

    </div>

    <div class="card shadow mb-2">
      <app-careplan-problems [masterData]="diag"></app-careplan-problems>
    </div>
    <div class="card shadow mb-2">
      <app-careplan-goals [masterData]="diag"></app-careplan-goals>
    </div>

    <div class="card shadow mb-2">
      <app-careplan-interventions [masterData]="diag"></app-careplan-interventions>
    </div>

    <div class="card shadow mb-2">
      <app-careplan-barriers></app-careplan-barriers>
    </div>
    <div class="card shadow mb-2" *ngIf="isCleverCare">
      <app-careplan-identified-member-risks></app-careplan-identified-member-risks>
    </div>
    <div class="card shadow mb-2" *ngIf="isCleverCare">
      <app-careplan-general-comments></app-careplan-general-comments>
    </div>
  </div>





</main>
<p-toast position="top-right"></p-toast>